html {
    margin: 0;
    font-size: 28px;
    background-color: #272727;
}

body {
    margin: 0;
    background: transparent;
}

label {
    margin-right: .5rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

input {
  border: none;
  border-radius: 3px;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: 'Russo One', sans-serif;
    color: white;
}

h3 {
    background: rgba(24, 24, 24, 0.8);
    margin: 40px auto;
    padding: 20px 20px;
}

.carousel-caption h3 {
    max-width: 1000px;
}

.news h3 {
    font-size: .8rem;
}

h3.event {
    font-size: 1rem;
}

a, a:hover {
    color: #E40113;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.logo img {
    width: 50px;
}

.logo span {
    font-family: 'Russo One', sans-serif;
    font-size: 34px;
    color: #E40113;
    margin: 4px 0 0 -5px;
}

.default-img {
    padding: 56px;
    height: 180px;
    margin: 0;
    background: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-prev, .carousel-control-next {
    width: 10%;
}

.carousel-indicators li {
    height: 8px;
}

.btn-red {
    color: #E40113;
    border: 1px solid #E40113;
    border-radius: 0;
    padding: 10px 45px 14px;
    font-family: 'Open Sans', sans-serif;
}

.btn-red:hover {
    color: white;
    background-color: #E40113;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

.btn-md.btn-red {
    font-size: .6rem;
    padding: 10px 30px;
}

.btn-sm.btn-red {
    font-size: .5rem;
    padding: 5px 13px;
    margin: 0 0 1rem 0;
}

.news-search .btn-sm.btn-red {
    position: absolute;
    top: -2px;
    right: 7px;
    padding: 0;
    border: none;
    font-size: 1rem;
    height: 28px;
    background: none;
}

.fa-minus-square {
    color: white;
}

.fa-minus-square:hover {
    color: #E40113;
}

.news-search .btn-sm.btn-red:hover {
    background: none;
}

.form-group {
    display: flex;
    height: 50px;
}

.form-group input {
    width: 100%;
    padding: 0 10px 1px;
    font-size: .9rem;
}

.col-news {
    max-width: 350px;
    padding: 0 15px;
}

.card {
    border-radius: 3px;
    border: none;
}


.card-body {
    padding: 0;
}

.article .card-body {
    background: rgba(24, 24, 24, 0.8);
}

.card-body img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-body h3 {
    margin: 0 auto;
}

.article .card-body h3 {
    background: none;
}

.card p {
    color: #272727;
}

.card h4 {
    color: #272727;
    font-size: 1rem;
}

.follow-title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.follow-title h3 {
    font-size: 1.5rem;
    margin-top: 0;
    padding-bottom: 2rem;
}

.event-list {
    list-style: none;
}

.event-list li {
    line-height: 1.2rem;
    padding-bottom: .5rem;
}

.event-info {
    font-size: .8rem;
    color: #7e7e7e;
}

.message.alert {
    padding: .6rem 1rem;
    font-size: .9rem;
    border-radius: 0;
}

.alert-danger {
    color: white;
    background-color: #E40113;
    border-color: #E40113;
}

.alert-success {
    color: #E40113;
    background: none;
    border-color: white;
}

/* ======================= Navbar ========================= */

.navbar {
    background-color: rgba(24, 24, 24, 0.9);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
  
.navbar a {
    color: #818181;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
  
.navbar a:hover {
    color: white;
}
  
.navbar-brand {
    display: flex;
    align-items: center;
}
  
.navbar-brand > img {
    display: inline-block;
    margin: 3px 0;
    width: 150px;
}
  
.nav > li > a > img {
    width: 32px;
    border-radius: 32px;
}
  
ul.nav.navbar-nav {
    align-items: center;
}
  
ul.nav.navbar-nav li {
    margin: 0 0.5rem;
    display: flex;
}
  
nav form.navbar-form {
    display: flex;
    position: relative;
}
  
#search.form-control {
    border-radius: 0;
    margin-bottom: 0;
    width: 22rem;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 7px 28px 8px 15px;
    box-sizing: border-box;
    background: black;
    color: white;
    border: 2px solid #464646;
    height: 50px;
    margin-left: -35px;
}
  
#search.form-control + .btn {
    position: absolute;
    right: -70px;
    top: 0;
    bottom: 0;
    z-index: 1;
    padding: 0px;
    color: #818181;
    font-size: 25px;
    background: #464646;
    width: 70px;
    border-radius: 0;
    border: none;
}
  
#search.form-control + .btn:active,
#search.form-control + .btn:focus {
    box-shadow: none;
}
  
#search:active,
#search:focus {
    box-shadow: none;
    border: 2px solid #E40113;
}
  
#dropdownMenuLink, #dropdownMenuLink:focus, #dropdownMenuLink:active {
    background: none;
    border: none;
    box-shadow: none;
}

.fa-user-circle {
    font-size: .9rem;
    color: #E40113;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    left: -110px;
    top: 53px;
    border: none;
    border-radius: 0;
}

.navbar .dropdown-item:hover, .navbar .dropdown-item:focus {
    color: #16181b;
    text-decoration: underline;
    background: none;
}

.language-select {
    display: inline-block;
    width: 100%;
    padding: 0.1rem 1rem 0.1rem 0.1rem;
    font-size: .6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #818181;
    vertical-align: middle;
    background: #272727;
    border: none;
}

@media (min-width: 768px) and (max-width: 1400px) {
    .col-news {
        width: 25%;
        max-width: 25%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .col-news {
        width: 33%;
        max-width: 33%;
    }
}

@media (max-width: 576px) {
    .col-news {
        width: 100%;
        max-width: 100%;
    }
}