<!DOCTYPE html>
<html lang="{{ g.selected_lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    {% block title %}
    {% endblock %}
  </title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="/static/main.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="shortcut icon" href="/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
<nav class="navbar navbar-expand desktop">
  <div class="container-fluid">
    <div class="navbar-header logo">
      <a href="/" class="navbar-brand"><img src="/static/img/isports-logo.png" alt="logo"></a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li>
        <form class="navbar-form navbar-right" action="/search">
          <input name="q" class="search form-control" placeholder="Search iSports Top News">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="select">
        <select class="language-select" id="language-select">
          {% for lang in g.lang %}
          <option value="{{ lang.value }}" {% if lang.value == g.selected_lang %}selected{% endif %}>{{ lang.label }}</option>
          {% endfor %}
        </select>
      </li>
      {% if not g.user %}
      <li><a href="/signup">Sign up</a></li>
      <li><a href="/login">Log in</a></li>
      {% else %}
      <li><a href="/news">My News</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/favorites">Saved News</a></li>
      <li class="mx-0 dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/user">User profile</a>
          <a class="dropdown-item" href="/logout">Log out</a>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<nav class="navbar mobile">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav col-3 navbar-nav">  
        <li class="mx-0 dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% if not g.user %}
            <a class="dropdown-item" href="/signup">Sign up</a>
            <a class="dropdown-item" href="/login">Log in</a>
            {% else %}
            <a class="dropdown-item" href="/news">My News</a>
            <a class="dropdown-item" href="/events">Events</a>
            <a class="dropdown-item" href="/favorites">Saved News</a>
            <a class="dropdown-item" href="/user">User profile</a>
            <a class="dropdown-item" href="/logout">Log out</a>
            {% endif %}
          </div>
        </li>
      </ul>
      <div class="col-9 navbar-header logo">
        <a href="/" class="navbar-brand"><img src="/static/img/isports-logo.png" alt="logo"></a>
      </div>
    </div>
      <div class="row">
        <ul class="nav col-2 navbar-nav">
          <li>
            <select class="language-select" id="language-select-mobile">
              {% for lang in g.lang %}
              <option value="{{ lang.value }}" {% if lang.value == g.selected_lang %}selected{% endif %}>{{ lang.value }}</option>
              {% endfor %}
            </select>
          </li>
        </ul>
      </div>
    <div class="row">
      <ul class="nav col-10 navbar-nav">
        <li>
          <form class="navbar-form navbar-right" action="/search">
          <input name="q" class="search form-control" placeholder="Search iSports Top News">
          <button class="btn btn-default">
            <span class="fa fa-search"></span>
          </button>
        </form>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="main container-fluid p-0">

  {% block content %}
  {% endblock %}

</div>
</body>
</html>