{% extends 'base.html' %}

{% block title %}My events{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>Sports events for {{ g.user.username }} </h1>
    {% for msg in get_flashed_messages() %}
        <p class="message alert alert-success">{{ msg }}</p>
    {% endfor %}
</div>
    {% if g.user.follows %}
      
    {% if "team" in g.user.follows|map(attribute='category')|join(', ') %}
    <div class="container-fluid my-5 news-search">
        
    <h2>Team events</h2>
    {% for follow in g.user.follows if follow.category == "team" %}
    <div class="row">

        <div class="my-3 col-news follow-title">
            <h3>Events for {{ follow.name }}<img src="{{ follow.tb_image }}" alt=""></h3>
            
        </div>
        <div class="my-3 col-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Upcoming events</h3>
                    {% if events[follow.name] %}
                    <ul class="mx-2 my-3 text-left">
                        {% for event in events[follow.name] %}
                        <li>{{ event.dateEvent }} {{ event.strEvent }}<br>({{ event.strLeague }})</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="my-4">No events</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="my-3 col-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Recent events</h3>
                    {% if past_events[follow.name]["results"] %}
                    <ul class="mx-2 my-3 text-left">
                        {% for event in past_events[follow.name]["results"] %}
                        <li>{{ event.dateEvent }} {{ event.strEvent }}<br>({{ event.strLeague }})</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="my-4">No events</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
    {% if "league" in g.user.follows|map(attribute='category')|join(', ') %}
    <div class="container-fluid my-5 news-search">
        
    <h2>League events</h2>
    {% for follow in g.user.follows if follow.category == "league" %}
    <div class="row">

        <div class="my-3 col-news follow-title">
            <h3>Events for {{ follow.name }}<img src="{{ follow.tb_image }}" alt=""></h3>
            
        </div>
        <div class="my-3 col-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Upcoming events</h3>
                    {% if events[follow.name] %}
                    <ul class="mx-2 my-3 text-left">
                        {% for event in events[follow.name] %}
                        <li>{{ event.dateEvent }} {{ event.strEvent }}<br>({{ event.strLeague }})</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="my-4">No events</p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="my-3 col-4">
            <div class="card">
                <div class="card-body text-center">
                    <h3>Recent events</h3>
                    {% if past_events[follow.name]["results"] %}
                    <ul class="mx-2 my-3 text-left">
                        {% for event in past_events[follow.name]["results"] %}
                        <li>{{ event.dateEvent }} {{ event.strEvent }}<br>({{ event.strLeague }})</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="my-4">No events</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    {% endif %}
{% else %}
<div class="container"></div>
<p>You have not yet followed a team or league. Go your <a href="/user">profile page</a> to follow a league or team. Then come back here to see related events.</p>
</div>
{% endif %}


{% endblock %}