{% extends 'base.html' %}

{% block title %}iSports News Favorites{% endblock %}
{% block content %}
    <div class="container my-5">
        <h1>Saved articles</h1>
        {% if not g.user.favorites %}
        <p>You haven't saved any articles yet.</p>
        {% endif %}
    </div>
    <div class="container my-5 d-flex flex-wrap news">
        {% for favorite in g.user.favorites %}
            <div class="my-3 col-12 col-md-4 article">
            <div class="card">
                <div class="card-body text-center">
                    <a href="{{ favorite.url }}" target="_blank"><img src="{{ favorite.image_url }}" onerror="this.onerror=null; this.src='/static/img/isports-default.png'" alt="">
                    <h3>{{ favorite.title }}</h3></a>
                    <button data-id="{{ favorite.id }}" class="btn btn-sm btn-red save-btn delete">Delete</button>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}