{% extends 'base.html' %}

{% block title %}iSports News{% endblock %}
{% block content %}
    <div class="container my-5">
        <h2>Results for "{{ search }}"</h2>
    </div>
    <div class="container my-5 d-flex flex-wrap news-search">
        {% for article in articles %}
            <div class="my-3 col col-md-4 article">
            <div class="card">
                <div class="card-body text-center" data-timestamp="{{ article.publishedAt }}">
                    <a href="{{ article.url }}" target="_blank">
                        {% if article.urlToImage %}
                            <img src="{{ article.urlToImage }}" alt="">
                        {% else %}
                            <img src="/static/img/isports-default.png" alt="logo">
                        {% endif %}
                    <h3>{{ article.title }}</h3></a>
                    {% if article.url in g.user.favorites|map(attribute='url')|join(', ') %}
                        {% for favorite in g.user.favorites if favorite.url == article.url %}
                        <button data-id="{{ favorite.id }}" class="btn btn-sm btn-red save-btn saved">Undo saved</button>
                        {% endfor %}
                    {% else %}
                        <button data-id="" class="btn btn-sm btn-red save-btn">Save</button>
                    {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}