{% extends 'base.html' %}

{% block title %}iSports News{% endblock %}
{% block content %}
    <div class="container my-5 {% if not g.user %}unauthorized{% endif %}">
        <h2>Results for "{{ search }}"</h2>
    </div>
    <div class="container my-5 news news-search">
        <div class="row news-row d-flex flex-wrap">
        {% for article in articles %}
            <div class="my-3 col-12 col-md-4 col-news article">
            <div class="card">
                <div class="card-body text-center" data-timestamp="{{ article.publishedAt }}">
                    <a href="{{ article.url }}" target="_blank">
                        {% if article.urlToImage %}
                            <img src="{{ article.urlToImage }}" alt="">
                        {% else %}
                            <img src="/static/img/isports-default.png" alt="logo">
                        {% endif %}
                    <h3>{{ article.title }}</h3></a>
                    {% if g.user %}
                        {% if article.url in g.user.favorites|map(attribute='url')|join(', ') %}
                            {% for favorite in g.user.favorites if favorite.url == article.url %}
                            <button data-id="{{ favorite.id }}" class="btn btn-sm btn-red save-btn saved"><i class="far fa-minus-square"></i></button>
                            {% endfor %}
                        {% else %}
                            <button data-id="" class="btn btn-sm btn-red save-btn"><i class="far fa-plus-square"></i></button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
        <div class="row mb-5 text-center">
            <div class="col">
                <button class="btn btn-md btn-red text-center show-more-btn" data-page="1" data-term="{{ search }}">Show More</button>
            </div>
        </div>
    
    </div>
{% endblock %}