{% extends 'base.html' %}

{% block title %}User page{% endblock %}
{% block content %}
<div class="container my-5">
    <h1>iSports profile for {{ g.user.username }} </h1>
    {% for msg in get_flashed_messages() %}
        <p class="message alert alert-success">{{ msg }}</p>
    {% endfor %}
    <p>Username: {{ g.user.username }}<br>
    Email: {{ g.user.email }}</p>
    <form action="/user/delete" method="POST">
        <a href="/user/edit" class="btn btn-sm btn-red">Edit User</a>
        <button class="btn btn-sm btn-red">Delete User</button>
    </form>
    <h2 class="mt-3">Add item to follow</h2>
    <p>Type the name of a sport, league, team, or player and select it from the list.<br>You may only follow items that appear in the list. Modifying the name after you select it will modify the search results for news items.</p>
    <div class="row">
        <div class="col col-md-9">

            <form id="follow-form" method="POST" action="/follow">
                
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                    
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn btn-md btn-red mt-1">Follow</button>
            </form>
        </div>
    </div>
    {% if g.user.follows %}
    <h2 class="mt-5">Currently following</h2>
    {% endif %}
    {% if g.user.follows and "player" in g.user.follows|map(attribute='category')|join(', ') %}
    <h3 class="mx-0 mb-2">Players</h3>
        <div class="container d-flex flex-wrap">
            {% for follow in g.user.follows if follow.category == "player" %}
            <div class="my-3 col-md-3 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{{ follow.tb_image }}" alt="">
                        <h4 class="card-title mt-3">{{ follow.name }}</h4>
                        <form action="/follow/{{ follow.id }}/delete" method="POST">
                            <button class="btn btn-sm btn-red">Unfollow</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if g.user.follows and "team" in g.user.follows|map(attribute='category')|join(', ') %}
    <h3 class="mx-0 mb-2">Teams</h3>
        <div class="container d-flex flex-wrap">
            {% for follow in g.user.follows if follow.category == "team"  %}
            <div class="my-3 col-md-3 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="p-3" src="{{ follow.tb_image }}" alt="">
                        <h4 class="card-title mt-0">{{ follow.name }}</h4>
                        <form action="/follow/{{ follow.id }}/delete" method="POST">
                            <button class="btn btn-sm btn-red">Unfollow</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if g.user.follows and "league" in g.user.follows|map(attribute='category')|join(', ') %}
    <h3 class="mx-0 mb-2">Leagues</h3>
        <div class="container d-flex flex-wrap">
            {% for follow in g.user.follows if follow.category == "league"  %}
            <div class="my-3 col-md-3 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <img class="p-3" src="{{ follow.tb_image }}" alt="">
                        <h4 class="card-title mt-1">{{ follow.name }}</h4>
                        <form action="/follow/{{ follow.id }}/delete" method="POST">
                            <button class="btn btn-sm btn-red">Unfollow</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if g.user.follows and "sport" in g.user.follows|map(attribute='category')|join(', ') %}
    <h3 class="mx-0 mb-2">Sports</h3>
        <div class="container d-flex flex-wrap">
            {% for follow in g.user.follows if follow.category == "sport"  %}
            <div class="my-3 col-md-3 col-sm-12">
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{{ follow.tb_image }}" alt="">
                        <h4 class="card-title mt-3">{{ follow.name }}</h4>
                        <form action="/follow/{{ follow.id }}/delete" method="POST">
                            <button class="btn btn-sm btn-red">Unfollow</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}